{% extends "base.html.twig" %}

{% block body %}

    <!-- Main Content -->
    <div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
            <h2>Erreur 404</h2>
            <h4>Ouuups, il semblerait que la page demandée ait été volée par La Joconde !! </h4>

        </div>
        <div class="col-lg4 col-md-5 mx-auto">
            <img src="{{ asset('img/joconde.jpg') }}">
        </div>


    </div>

{% endblock %}