{% extends "base.html.twig" %}

{% block body %}

<!-- Main Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-5 mx-auto">
            <h2>Erreur 500</h2>
            <h3>Oooops, il semblerait que la page demandée ait été volée par La Joconde !! </h3>

        </div>
        <div class="col-lg4 col-md-5 mx-auto">
            <img src="{{ asset('img/joconde.jpg') }}">
        </div>


    </div>


    {% endblock %}
