{% extends 'base.html.twig' %}

{% block title %}Informations visiteur {% endblock %}



{% block body %}



    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">


                {{ form_start(ticketForm) }}

                    {% for information in ticketForm %}

                        {{ form_widget(information) }}

                    {%  endfor %}




                    <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(ticketForm) }}
            </div>

        </div>
    </div>

    <hr>

{% endblock %}


