{% extends 'base.html.twig' %}

{% block title %}Informations visiteur {% endblock %}



{% block body %}



    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <h2>Vos informations</h2>
            <p>Veuillez remplir le(s) champ(s) ci-dessous afin de procéder au calcul du montant de votre commande</p>
            <div class="col-lg-8 col-md-10 mx-auto">


                {{ form_start(ticketForm) }}

                {{ form_errors(ticketForm) }}
                    {% for information in ticketForm %}

                        <tr><td>{{ form_widget(information) }}</td>
                        <td><hr WIDTH="50%" SIZE="2" ALIGN="left" color="pink"></td>
                        </tr>


                    {%  endfor %}


                    <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(ticketForm) }}
            </div>

        </div>
    </div>

    <hr>

{% endblock %}


