{% extends 'base.html.twig' %}

{% block title %}Informations visiteur {% endblock %}



{% block body %}



    <!-- Main Content -->
    <div class="container">
        <h2>Vos informations</h2><br>

        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Nous allons procéder au calcul automatique de vos billets.</p>
                <p>Il vous sera demandé de présenter votre carte d’étudiant, militaire ou équivalent pour bénéficier du tarif réduit.</p>


                {{ form_start(ticketForm) }}

                {{ form_errors(ticketForm) }}
                    {% for information in ticketForm %}

                        <table>
                        <tr>
                            <td>
                                {{ form_widget(information) }}
                                <hr WIDTH="100%" SIZE="2" ALIGN="left" color="purple" size="12px">
                            </td>

                        </tr>
                        </table>



                    {%  endfor %}


                    <button type="submit" class="btn btn-outline-info">Valider</button>
                {{ form_end(ticketForm) }}
            </div>

        </div>
    </div>
    <hr>

{% endblock %}


