{% extends 'base.html.twig' %}

{% block title %}Informations visiteur {% endblock %}



{% block body %}



<!-- Main Content -->
<div class="container">
    <div class="row">
        {#<div class="col-lg-8 col-md-10 mx-auto">

            {%  for calculator in calculators %}
            {{ calculator.calculators }}
            {% endfor %}
        </div>#}
        <div class="col-lg-8 col-md-10 mx-auto">


        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <a href="{{ path('stripe') }}">Aller au paiement</a>

        </div>

    </div>
</div>

    <hr>

    {% endblock %}


