{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la billeterie du Louvre ! {% endblock %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/louvre-accueil-louvre-abu-dhabi.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Billeterie</h1>
                        <span class="subheading">du Louvre</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                Billet journée <br>
                Billet demi-journée
            </div>

    </div>

    <hr>



{% endblock %}