{% extends 'base.html.twig' %}

{% block body %}

        <div id="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1>Musée du Louvre</h1>
                    <p>

                    Vous êtes sur le point de payer vos billets d'entrées pour le musée du Louvre
                    <form action="{{ path('order_checkout') }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_NC7ze8G5MOAacnimgpi36cZP"
                                data-amount="99500"
                                data-name="Billetterie du Musée du Louvre"
                                data-description="Paiement"
                                data-locale="auto"
                                data-currency="eur">
                        </script>
                    </form>

                </div>
            </div>
        </div>
{% endblock %}

